button{
	border: none;
}
.re-logo{
	margin-top: 20px;
	
}
.me-line{
	margin-left: 10px;
	margin-top: 18px;
}
.me-word{
	margin-left: 10px;
	margin-top: 26px;
}
.me-return {
	margin-top: 20px;
}
.me-return a{
	display: block;
	border: 1px solid #ddd;
	border-radius: 5px;
	padding: 8px 14px;
}
.member-bg{
	background: #F5F5F5;
	padding-bottom: 20px;
	margin-top: 20px;
}
.member-left{
	width: 180px;
	border: 1px solid #eaeaea;
	min-height: 320px;
	padding-bottom: 20px;
	background: #fff;
	margin-top: 20px;
}
.member-lnav-title{
	height: 50px;
	line-height: 50px;
	text-align: center;
	font-size: 16px;
	border-bottom: 1px solid #EAEAEA;
}
.memeber-nav-list ul{
	padding-left: 0px;
}
.memeber-nav-list ul li{
	height: 50px;
	line-height: 50px;
}
.memeber-nav-list ul li a{
	box-sizing: border-box;
	display: block;
	padding-left: 40px;
	height: 50px;
	line-height: 50px;
}
.memeber-nav-list ul li a:hover{
	border-left: 4px solid #4f90bd;
	background: #bbddf5!important;
	color: #fff;
}
.member-list-now{
	color: #fff;
	border-left: 4px solid #4f90bd;
	background: #bbddf5;
}
.me-ico{
	width: 17px;
	height: 16px;
	background: url(../img/icon1.png) no-repeat center center;
	margin-top: 18px;
	margin-right: 8px;
}
.me-txt{
	color: #333;
}
.me-ico1{
	width: 17px;
	height: 16px;
	margin-top: 18px;
	margin-right: 8px;
	background: url(../img/icon2.png) no-repeat center center;
}
.me-ico2{
	width: 17px;
	height: 16px;
	margin-top: 18px;
	margin-right: 8px;
	background: url(../img/icon3.png) no-repeat center center;
}
.me-ico3{
	width: 17px;
	height: 16px;
	margin-top: 18px;
	margin-right: 8px;
	background: url(../img/icon4.png) no-repeat center center;
}

/*å†…å®¹*/
.member-right{
	width: 975px;
	margin-top: 20px;
}
.member-right-title{
	border-left: 3px solid #007CC2;
	text-indent: 8px;
	font-size: 20px;
	color: #007CC2;
	margin-bottom: 10px;
}
.member-right-con{
	width: 100%;
	min-height: 200px;
	background: #fff;
	border: 1px solid #eaeaea;
	padding: 20px;
}

.per-info{
	width: 100%;
	height: 40px;
	line-height: 40px;
	font-size: 16px;
	border-bottom: 1px solid #ddd;
	font-weight: bold;
}
/*form*/
.dkuan-list{
	margin-top: 20px;
}
.dkuan-word{
	width: 130px;
	text-align: right;
	height: 46px;
	line-height: 46px;
}
.star{
	color: #FF4E00;
}
.dkuan-input{
	margin-left: 10px;
	height: 46px;
	line-height: 46px;
}
.dkuan-input1{
	margin-left: 10px;
}

.dkuan-text{
	width: 290px;
	height: 46px;
	line-height: 46px;
	text-indent: 12px;
}
.error{
	height: 46px;
	line-height: 46px;
	/* margin-left: 20px; */
	color: #FF0000;
}
.success-info{
	width: 14px;
	height: 46px;
	line-height: 46px;
	margin-left: 20px;
	background: url(../img/rechenggong.jpg) no-repeat center center;
}
.se-select,.se-select1{
	width: 140px;
	height: 46px;
	line-height: 46px;
	padding-bottom: 8px\9;
}
.se-select1{
	margin-left: 5px;
}
.se-btn{
	width: 140px;
	height: 46px;
	line-height: 28px;
	font-size: 18px;
	text-align: center;
	color: #fff;
	background: #007CC3;
	letter-spacing: 2px;
}
.se-btn:hover{
	color: #fff;
	background: #0D93DE;
}
.se-select2{
	width: 290px;
	height: 46px;
	line-height: 46px;
	text-indent: 4px;
}

/*ÇÐ»»*/
.mr-person{
	/*display: none;*/
}
.mr-personrz{
	display: none;
}
.per-info li{
	float: left;
	cursor: pointer;
	letter-spacing: 1px;
	padding: 0px 10px;
	margin-right: 10px;
	
}
.per-info .per-info-now{
	background: #007CC3;
	border-radius: 5px;
	color: #fff;
}


