.rp-list1{
	width: 100%;
	background: #59ABE3;
	height: 440px;
	padding-top: 54px;
}
.rp-lr {
	color: #fff;
	 /*font-weight:lighter;*/
	letter-spacing: 2px;
}
.rp-lr h1{
	 color: #fff;
    font-size: 56px;
    line-height: 85px;
     font-family: inherit;
    font-weight:lighter;
}
.rp-ye{
	color: #ff0;
}
.rp-lr-word{
	line-height: 28px;
}
.rxrp-btn{
	margin-top: 20px;
	cursor: pointer;
}
.rpl-li1{
	height: 340px;
	padding-top: 80px;
	   border-bottom: 1px solid #dcdcdc;
    color: #828282;
    font-size: 20px;
    line-height: 36px;
}
.rpl-word{
	 color: #ff7533;
    font-size: 48px;
    vertical-align: middle;
    margin-bottom: 10px;
    margin-top: 70px;
     font-weight:lighter;
}
















