h atml,body,h1,h2,h3,h4,h5,h6,div,dl,dt,dd,ul,ol,li,p,blockquote,pre,hr,figure,table,caption,th,td,form,fieldset,legend,input,button,textarea,menu {
	margin: 0;
	padding: 0;
}
header,footer,section,article,aside,nav,hgroup,address,figure,figcaption,menu,details {
	display: block;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
caption,
th {
	text-align: left;
	font-weight: normal;
}
html,body,fieldset,img,iframe,abbr {
	border: 0;
}
i,cite,em,var,address,dfn {
	font-style: normal;
}
[hidefocus],summary {
	outline: 0;
}
li {
	list-style: none;
}
* {
	font-family: "瀵邦喛钂嬮梿鍛寸拨"; 
}
.f {
	float: left;
}
.clr
{
	clear: both;
}
/********************************************************閸愬懎顔�***************************************************************/

/**************************瀹革拷*********************************/
.nav-left
{
	width: 150px;
	/* height: 366px; */
	border: 1px solid #C6CDD5;
/* 	background:#FBFBFB; */
	
}
.nav-left ul li
{
	height: 50px;
	line-height: 50px;
	text-align: left;
	color: #696969;
	position: relative;
	padding-left: 43px;
	border-bottom: 1px dotted #C6CDD5;
	/*width: 150px;*/
	font-weight: bold;
}
.bg {
	background: #80AADD;
} 
.bq-color {
	color: white;
}
a
{
	text-decoration: none;
	color: #696969;
	font-size: 14px;
}
a:hover {
	color: #80AADD;
}
.gr-left1,.gr-left2,.gr-left3,.gr-left4,.gr-left5,.gr-left6
{
	position: absolute;
	top: 14px;
	left: 16px;
	width: 22px;
	height: 24px;
}
.gr-left1
{
	background: url(../img/sqzx-left1.png) no-repeat;
}
.gr-left2
{
	background: url(../img/sqzx-left2.png) no-repeat;
}
.gr-left3
{
	background: url(../img/sqzx-left3.png) no-repeat;
}
.gr-left4
{
	background: url(../img/grzx-left4.png) no-repeat;
}
.gr-left5
{
	background: url(../img/grzx-left5.png) no-repeat;
}
.gr-left6
{
	background: url(../img/grzx-left6.png) no-repeat;
}