*{
	padding: 0px;
	margin: 0px;
}
.cont {
	width: 140px;
	height: 28px;
	/*background: url(img/b_star.gif) 0 30px;*/
	position: relative;
	background: yellowgreen;
}
.nr {
	position: absolute;
	width: 140px;
	height: 28px;
	background: url(/logisticsc/resources/platform/img/b_star.gif) 0 28px;
}
.xx {
	display: inline-block;
	width: 24px;
	height: 28px;
	position: relative;
	z-index: 1000;
	cursor: pointer;
	overflow: hidden;
	margin: 0px;
	padding: 0px;
	/*background: red;*/
}
.star {
	height:28px; 
	position: absolute;
	z-index: 300;
	top: 0px;
	left: 0px;
	background: url(/logisticsc/resources/platform/img/b_star.gif) 0 0px;
}