<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" > 
<mapper namespace="com.yc.Dao.PlatformUserCommonDriverDao"> 
	<resultMap id="BaseResultMap" type="com.yc.Entity.PlatformUserCommonDriver"></resultMap>   
	<sql id="Base_Column_List"> 
		id,driver_name,license_number,phone_number,vehicle_type,address,user_id,create_time,province,city,county
	</sql> 
	<select id="getSingleInfo" resultMap="BaseResultMap" parameterType="com.yc.Entity.PlatformUserCommonDriver" > 
		select  <include refid="Base_Column_List" />  from lc_platform_user_common_driver where 1=1
		<if test="id!=null">
			and id=#{id}
		</if>
		<if test="user_id!=null">
			and user_id=#{user_id}
		</if>
		<if test="phone_number!=null">
			and phone_number =#{phone_number}
		</if>
	</select> 
	<select id="getSumCount" resultType="int" parameterType="com.yc.Entity.PlatformUserCommonDriver" > 
		select  count(1)  from lc_platform_user_common_driver where 1=1
		<if test="phone_number !=null"> 
			and phone_number=#{phone_number}
		</if>
	</select> 
	<select id="getListPagerInfo" resultMap="BaseResultMap" parameterType="map"> 
		select <include refid="Base_Column_List" /> from lc_platform_user_common_driver where 
		user_id=#{user_id}
		order by id desc limit #{limitMax} offset #{limitMin} 
	</select> 
	<delete id="delSingleInfo" parameterType="com.yc.Entity.PlatformUserCommonDriver"> 
		delete from lc_platform_user_common_driver where id=#{id} 
	</delete> 
	<insert id="addSingleInfo" parameterType="com.yc.Entity.PlatformUserCommonDriver" useGeneratedKeys="true" keyProperty="id"> 
		insert into lc_platform_user_common_driver  
		(driver_name,license_number,phone_number,vehicle_type,address,user_id,create_time,province,city,county) 
		values ( #{driver_name},#{license_number},#{phone_number},#{vehicle_type},#{address},#{user_id},#{create_time},#{province},#{city},#{county} )
	</insert> 
</mapper> 

