<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.brightsoft.dao.tms.BasicDataMapper" >
  <resultMap id="BaseResultMap" type="com.brightsoft.model.BasicData" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="is_immediate_pay" property="isImmediatePay" jdbcType="INTEGER" />
    <result column="is_arrive_pay" property="isArrivePay" jdbcType="INTEGER" />
    <result column="is_advance_pay" property="isAdvancePay" jdbcType="INTEGER" />
    <result column="is_common_receipt" property="isCommonReceipt" jdbcType="INTEGER" />
    <result column="common_receipt_rate" property="commonReceiptRate" jdbcType="DOUBLE" />
    <result column="is_add_tax_receipt" property="isAddTaxReceipt" jdbcType="INTEGER" />
    <result column="add_tax_receipt_rate" property="addTaxReceiptRate" jdbcType="DOUBLE" />
    <result column="is_no_receipt" property="isNoReceipt" jdbcType="INTEGER" />
    <result column="is_support_insurance" property="isSupportInsurance" jdbcType="INTEGER" />
    <result column="is_force_insurance" property="isForceInsurance" jdbcType="INTEGER" />
    <result column="insurance_rate" property="insuranceRate" jdbcType="DOUBLE" />
    <result column="lowest_quato" property="lowestQuato" jdbcType="DOUBLE" />
    <result column="company_id" property="companyId" jdbcType="BIGINT" />
    <result column="company_name" property="companyName" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, is_immediate_pay, is_arrive_pay, is_advance_pay, is_common_receipt, common_receipt_rate, 
    is_add_tax_receipt, add_tax_receipt_rate, is_no_receipt, is_support_insurance, is_force_insurance, 
    insurance_rate, lowest_quato, company_id
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from tms_basic_data
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from tms_basic_data
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.brightsoft.model.BasicData" >
    insert into tms_basic_data (id, is_immediate_pay, is_arrive_pay, 
      is_advance_pay, is_common_receipt, common_receipt_rate, 
      is_add_tax_receipt, add_tax_receipt_rate, is_no_receipt, 
      is_support_insurance, is_force_insurance, insurance_rate, 
      lowest_quato, company_id)
    values (#{id,jdbcType=BIGINT}, #{isImmediatePay,jdbcType=INTEGER}, #{isArrivePay,jdbcType=INTEGER}, 
      #{isAdvancePay,jdbcType=INTEGER}, #{isCommonReceipt,jdbcType=INTEGER}, #{commonReceiptRate,jdbcType=DOUBLE}, 
      #{isAddTaxReceipt,jdbcType=INTEGER}, #{addTaxReceiptRate,jdbcType=DOUBLE}, #{isNoReceipt,jdbcType=INTEGER}, 
      #{isSupportInsurance,jdbcType=INTEGER}, #{isForceInsurance,jdbcType=INTEGER}, #{insuranceRate,jdbcType=DOUBLE}, 
      #{lowestQuato,jdbcType=DOUBLE}, #{companyId,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="com.brightsoft.model.BasicData" >
    insert into tms_basic_data
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="isImmediatePay != null" >
        is_immediate_pay,
      </if>
      <if test="isArrivePay != null" >
        is_arrive_pay,
      </if>
      <if test="isAdvancePay != null" >
        is_advance_pay,
      </if>
      <if test="isCommonReceipt != null" >
        is_common_receipt,
      </if>
      <if test="commonReceiptRate != null" >
        common_receipt_rate,
      </if>
      <if test="isAddTaxReceipt != null" >
        is_add_tax_receipt,
      </if>
      <if test="addTaxReceiptRate != null" >
        add_tax_receipt_rate,
      </if>
      <if test="isNoReceipt != null" >
        is_no_receipt,
      </if>
      <if test="isSupportInsurance != null" >
        is_support_insurance,
      </if>
      <if test="isForceInsurance != null" >
        is_force_insurance,
      </if>
      <if test="insuranceRate != null" >
        insurance_rate,
      </if>
      <if test="lowestQuato != null" >
        lowest_quato,
      </if>
      <if test="companyId != null" >
        company_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="isImmediatePay != null" >
        #{isImmediatePay,jdbcType=INTEGER},
      </if>
      <if test="isArrivePay != null" >
        #{isArrivePay,jdbcType=INTEGER},
      </if>
      <if test="isAdvancePay != null" >
        #{isAdvancePay,jdbcType=INTEGER},
      </if>
      <if test="isCommonReceipt != null" >
        #{isCommonReceipt,jdbcType=INTEGER},
      </if>
      <if test="commonReceiptRate != null" >
        #{commonReceiptRate,jdbcType=DOUBLE},
      </if>
      <if test="isAddTaxReceipt != null" >
        #{isAddTaxReceipt,jdbcType=INTEGER},
      </if>
      <if test="addTaxReceiptRate != null" >
        #{addTaxReceiptRate,jdbcType=DOUBLE},
      </if>
      <if test="isNoReceipt != null" >
        #{isNoReceipt,jdbcType=INTEGER},
      </if>
      <if test="isSupportInsurance != null" >
        #{isSupportInsurance,jdbcType=INTEGER},
      </if>
      <if test="isForceInsurance != null" >
        #{isForceInsurance,jdbcType=INTEGER},
      </if>
      <if test="insuranceRate != null" >
        #{insuranceRate,jdbcType=DOUBLE},
      </if>
      <if test="lowestQuato != null" >
        #{lowestQuato,jdbcType=DOUBLE},
      </if>
      <if test="companyId != null" >
        #{companyId,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.brightsoft.model.BasicData" >
    update tms_basic_data
    <set >
      <if test="isImmediatePay != null" >
        is_immediate_pay = #{isImmediatePay,jdbcType=INTEGER},
      </if>
      <if test="isArrivePay != null" >
        is_arrive_pay = #{isArrivePay,jdbcType=INTEGER},
      </if>
      <if test="isAdvancePay != null" >
        is_advance_pay = #{isAdvancePay,jdbcType=INTEGER},
      </if>
      <if test="isCommonReceipt != null" >
        is_common_receipt = #{isCommonReceipt,jdbcType=INTEGER},
      </if>
      <if test="commonReceiptRate != null" >
        common_receipt_rate = #{commonReceiptRate,jdbcType=DOUBLE},
      </if>
      <if test="isAddTaxReceipt != null" >
        is_add_tax_receipt = #{isAddTaxReceipt,jdbcType=INTEGER},
      </if>
      <if test="addTaxReceiptRate != null" >
        add_tax_receipt_rate = #{addTaxReceiptRate,jdbcType=DOUBLE},
      </if>
      <if test="isNoReceipt != null" >
        is_no_receipt = #{isNoReceipt,jdbcType=INTEGER},
      </if>
      <if test="isSupportInsurance != null" >
        is_support_insurance = #{isSupportInsurance,jdbcType=INTEGER},
      </if>
      <if test="isForceInsurance != null" >
        is_force_insurance = #{isForceInsurance,jdbcType=INTEGER},
      </if>
      <if test="insuranceRate != null" >
        insurance_rate = #{insuranceRate,jdbcType=DOUBLE},
      </if>
      <if test="lowestQuato != null" >
        lowest_quato = #{lowestQuato,jdbcType=DOUBLE},
      </if>
      <if test="companyId != null" >
        company_id = #{companyId,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.brightsoft.model.BasicData" >
    update tms_basic_data
    set
      <if test="isImmediatePay != null" >
        is_immediate_pay = #{isImmediatePay,jdbcType=BIGINT},
      </if>
      <if test="isImmediatePay == null" >
        is_immediate_pay = 0,
      </if>
      <if test="isArrivePay != null" >
        is_arrive_pay = #{isArrivePay,jdbcType=INTEGER},
      </if>
      <if test="isArrivePay == null" >
        is_arrive_pay = 0,
      </if>
      <if test="isAdvancePay != null" >
        is_advance_pay = #{isAdvancePay,jdbcType=INTEGER},
      </if>
      <if test="isAdvancePay == null" >
        is_advance_pay = 0,
      </if>
      <if test="isCommonReceipt != null" >
        is_common_receipt = #{isCommonReceipt,jdbcType=INTEGER},
      </if>
      <if test="isCommonReceipt == null" >
        is_common_receipt = 0,
      </if>
      common_receipt_rate = #{commonReceiptRate,jdbcType=DOUBLE},
      <if test="isAddTaxReceipt != null" >
        is_add_tax_receipt = #{isAddTaxReceipt,jdbcType=INTEGER},
      </if>
      <if test="isAddTaxReceipt == null" >
        is_add_tax_receipt = 0,
      </if>
      add_tax_receipt_rate = #{addTaxReceiptRate,jdbcType=DOUBLE},
      <if test="isNoReceipt != null" >
        is_no_receipt = #{isNoReceipt,jdbcType=INTEGER},
      </if>
      <if test="isNoReceipt == null" >
        is_no_receipt = 0,
      </if>
      <if test="isSupportInsurance != null" >
        is_support_insurance = #{isSupportInsurance,jdbcType=INTEGER},
      </if>
      <if test="isSupportInsurance == null" >
        is_support_insurance = 0,
      </if>
      <if test="isForceInsurance != null" >
        is_force_insurance = #{isForceInsurance,jdbcType=INTEGER},
      </if>
      <if test="isForceInsurance == null" >
        is_force_insurance = 0,
      </if>
      insurance_rate = #{insuranceRate,jdbcType=DOUBLE},
      lowest_quato = #{lowestQuato,jdbcType=DOUBLE},
      company_id = #{companyId,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
  
  <select id="selectByCompanyId" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from tms_basic_data
    where company_id = #{companyId,jdbcType=BIGINT}
  </select>
  
  <select id="selectByParamsOfPlatform" resultMap="BaseResultMap" >
    SELECT b.*, com.company_name FROM tms_basic_data b LEFT JOIN lc_platform_user_company com
	ON b.company_id = com.id
    where 1 = 1
    <if test="condition != null and condition != ''" >
      and com.company_name like concat("%",#{condition},"%")
    </if>
    limit #{start}, #{limit}
  </select>
  <select id="selectByParamsCountOfPlatform" resultType="int" >
    SELECT count(1) FROM tms_basic_data b LEFT JOIN lc_platform_user_company com
	ON b.company_id = com.id
    where 1 = 1
    <if test="condition != null and condition != ''" >
      and com.company_name like concat("%",#{condition},"%")
    </if>
  </select>
</mapper>