<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.brightsoft.dao.tms.DeliveryBillMapper" >
  <resultMap id="BaseResultMap" type="com.brightsoft.model.DeliveryBill" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="way_bill_id" property="wayBillId" jdbcType="BIGINT" />
    <result column="driver_id" property="driverId" jdbcType="BIGINT" />
    <result column="vehicle_id" property="vehicleId" jdbcType="BIGINT" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="bill_time" property="billTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, way_bill_id, driver_id, vehicle_id, status, bill_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from tms_delivery_bill
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from tms_delivery_bill
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.brightsoft.model.DeliveryBill" >
    insert into tms_delivery_bill (id, way_bill_id, driver_id, 
      vehicle_id, status, bill_time
      )
    values (#{id,jdbcType=BIGINT}, #{wayBillId,jdbcType=BIGINT}, #{driverId,jdbcType=BIGINT}, 
      #{vehicleId,jdbcType=BIGINT}, #{status,jdbcType=INTEGER}, #{billTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.brightsoft.model.DeliveryBill" >
    insert into tms_delivery_bill
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="wayBillId != null" >
        way_bill_id,
      </if>
      <if test="driverId != null" >
        driver_id,
      </if>
      <if test="vehicleId != null" >
        vehicle_id,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="billTime != null" >
        bill_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="wayBillId != null" >
        #{wayBillId,jdbcType=BIGINT},
      </if>
      <if test="driverId != null" >
        #{driverId,jdbcType=BIGINT},
      </if>
      <if test="vehicleId != null" >
        #{vehicleId,jdbcType=BIGINT},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="billTime != null" >
        #{billTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.brightsoft.model.DeliveryBill" >
    update tms_delivery_bill
    <set >
      <if test="wayBillId != null" >
        way_bill_id = #{wayBillId,jdbcType=BIGINT},
      </if>
      <if test="driverId != null" >
        driver_id = #{driverId,jdbcType=BIGINT},
      </if>
      <if test="vehicleId != null" >
        vehicle_id = #{vehicleId,jdbcType=BIGINT},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="billTime != null" >
        bill_time = #{billTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.brightsoft.model.DeliveryBill" >
    update tms_delivery_bill
    set way_bill_id = #{wayBillId,jdbcType=BIGINT},
      driver_id = #{driverId,jdbcType=BIGINT},
      vehicle_id = #{vehicleId,jdbcType=BIGINT},
      status = #{status,jdbcType=INTEGER},
      bill_time = #{billTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>