<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.brightsoft.dao.tms.DepartureListMapper" >
  <resultMap id="BaseResultMap" type="com.brightsoft.model.DepartureList" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="way_bill_no" property="wayBillNo" jdbcType="VARCHAR" />
    <result column="order_Id" property="orderId" jdbcType="BIGINT" />
    <result column="way_bill_state" property="wayBillState" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, way_bill_no, order_Id, way_bill_state
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from tms_departure_list
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from tms_departure_list
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.brightsoft.model.DepartureList" >
    insert into tms_departure_list (id, way_bill_no, order_Id, 
      way_bill_state)
    values (#{id,jdbcType=BIGINT}, #{wayBillNo,jdbcType=VARCHAR}, #{orderId,jdbcType=BIGINT}, 
      #{wayBillState,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.brightsoft.model.DepartureList" >
    insert into tms_departure_list
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="wayBillNo != null" >
        way_bill_no,
      </if>
      <if test="orderId != null" >
        order_Id,
      </if>
      <if test="wayBillState != null" >
        way_bill_state,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="wayBillNo != null" >
        #{wayBillNo,jdbcType=VARCHAR},
      </if>
      <if test="orderId != null" >
        #{orderId,jdbcType=BIGINT},
      </if>
      <if test="wayBillState != null" >
        #{wayBillState,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.brightsoft.model.DepartureList" >
    update tms_departure_list
    <set >
      <if test="wayBillNo != null" >
        way_bill_no = #{wayBillNo,jdbcType=VARCHAR},
      </if>
      <if test="orderId != null" >
        order_Id = #{orderId,jdbcType=BIGINT},
      </if>
      <if test="wayBillState != null" >
        way_bill_state = #{wayBillState,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.brightsoft.model.DepartureList" >
    update tms_departure_list
    set way_bill_no = #{wayBillNo,jdbcType=VARCHAR},
      order_Id = #{orderId,jdbcType=BIGINT},
      way_bill_state = #{wayBillState,jdbcType=INTEGER}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>