<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.brightsoft.dao.tms.WayBillTransferRecordMapper" >
  <resultMap id="BaseResultMap" type="com.brightsoft.model.WayBillTransferRecord" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="transfer_depart_number" property="transferDepartNumber" jdbcType="VARCHAR" />
    <result column="way_bill_number" property="wayBillNumber" jdbcType="VARCHAR" />
    <result column="transfer_way_bill_number" property="transferWayBillNumber" jdbcType="VARCHAR" />
    <result column="transfer_cost" property="transferCost" jdbcType="DOUBLE" />
    <result column="current_pay" property="currentPay" jdbcType="DOUBLE" />
    <result column="out_back_pay" property="outBackPay" jdbcType="DOUBLE" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, transfer_depart_number, way_bill_number, transfer_way_bill_number, transfer_cost, 
    current_pay, out_back_pay
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from tms_way_bill_transfer_record
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from tms_way_bill_transfer_record
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.brightsoft.model.WayBillTransferRecord" >
    insert into tms_way_bill_transfer_record (id, transfer_depart_number, way_bill_number, 
      transfer_way_bill_number, transfer_cost, current_pay, 
      out_back_pay)
    values (#{id,jdbcType=BIGINT}, #{transferDepartNumber,jdbcType=VARCHAR}, #{wayBillNumber,jdbcType=VARCHAR}, 
      #{transferWayBillNumber,jdbcType=VARCHAR}, #{transferCost,jdbcType=DOUBLE}, #{currentPay,jdbcType=DOUBLE}, 
      #{outBackPay,jdbcType=DOUBLE})
  </insert>
  <insert id="insertSelective" parameterType="com.brightsoft.model.WayBillTransferRecord" >
    insert into tms_way_bill_transfer_record
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="transferDepartNumber != null" >
        transfer_depart_number,
      </if>
      <if test="wayBillNumber != null" >
        way_bill_number,
      </if>
      <if test="transferWayBillNumber != null" >
        transfer_way_bill_number,
      </if>
      <if test="transferCost != null" >
        transfer_cost,
      </if>
      <if test="currentPay != null" >
        current_pay,
      </if>
      <if test="outBackPay != null" >
        out_back_pay,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="transferDepartNumber != null" >
        #{transferDepartNumber,jdbcType=VARCHAR},
      </if>
      <if test="wayBillNumber != null" >
        #{wayBillNumber,jdbcType=VARCHAR},
      </if>
      <if test="transferWayBillNumber != null" >
        #{transferWayBillNumber,jdbcType=VARCHAR},
      </if>
      <if test="transferCost != null" >
        #{transferCost,jdbcType=DOUBLE},
      </if>
      <if test="currentPay != null" >
        #{currentPay,jdbcType=DOUBLE},
      </if>
      <if test="outBackPay != null" >
        #{outBackPay,jdbcType=DOUBLE},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.brightsoft.model.WayBillTransferRecord" >
    update tms_way_bill_transfer_record
    <set >
      <if test="transferDepartNumber != null" >
        transfer_depart_number = #{transferDepartNumber,jdbcType=VARCHAR},
      </if>
      <if test="wayBillNumber != null" >
        way_bill_number = #{wayBillNumber,jdbcType=VARCHAR},
      </if>
      <if test="transferWayBillNumber != null" >
        transfer_way_bill_number = #{transferWayBillNumber,jdbcType=VARCHAR},
      </if>
      <if test="transferCost != null" >
        transfer_cost = #{transferCost,jdbcType=DOUBLE},
      </if>
      <if test="currentPay != null" >
        current_pay = #{currentPay,jdbcType=DOUBLE},
      </if>
      <if test="outBackPay != null" >
        out_back_pay = #{outBackPay,jdbcType=DOUBLE},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.brightsoft.model.WayBillTransferRecord" >
    update tms_way_bill_transfer_record
    set transfer_depart_number = #{transferDepartNumber,jdbcType=VARCHAR},
      way_bill_number = #{wayBillNumber,jdbcType=VARCHAR},
      transfer_way_bill_number = #{transferWayBillNumber,jdbcType=VARCHAR},
      transfer_cost = #{transferCost,jdbcType=DOUBLE},
      current_pay = #{currentPay,jdbcType=DOUBLE},
      out_back_pay = #{outBackPay,jdbcType=DOUBLE}
    where id = #{id,jdbcType=BIGINT}
  </update>
  
  <insert id="batchInsert" parameterType="java.util.List">
    insert into tms_way_bill_transfer_record (id, transfer_depart_number, way_bill_number, 
      transfer_way_bill_number, transfer_cost, current_pay, 
      out_back_pay)
    values
    <foreach collection="list" item="item" index="index" separator=",">
        (#{item.id,jdbcType=BIGINT}, #{item.transferDepartNumber,jdbcType=VARCHAR}, #{item.wayBillNumber,jdbcType=VARCHAR}, 
      #{item.transferWayBillNumber,jdbcType=VARCHAR}, #{item.transferCost,jdbcType=DOUBLE}, #{item.currentPay,jdbcType=DOUBLE}, 
      #{item.outBackPay,jdbcType=DOUBLE})
    </foreach>
  </insert>
  
  <delete id="deleteByTransferDepartNumber" parameterType="java.lang.String" >
    delete from tms_way_bill_transfer_record
    where transfer_depart_number = #{transferDeparNumber,jdbcType=VARCHAR}
  </delete>
  
  <select id="selectByWayBillNumber" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from tms_way_bill_transfer_record
    where way_bill_number = #{wayBillNumber,jdbcType=VARCHAR}
  </select>
</mapper>