<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" > 
<mapper namespace="com.brightsoft.dao.yc.IYcDeliveryOrderDao"> 
	<resultMap id="BaseResultMap" type="com.brightsoft.entity.YcDeliveryOrder"></resultMap>   
	<sql id="Base_Column_List"> 
		id,branchNo,deliveryNo,evaluateTime,subscribeTime,dealerId,consigneeName,consigneePhone,consigneeAddr,consigneeTelephone,orderStatus,zoneCost,deliveryCost,installCost,otherCost,sumCost,payType,paidCost,agentPaidCost,satisfaction,evaluateStatus,customerSug,signer,signTime,createTime,createUser,updateTime,updateUser,remark
	</sql> 
	<select id="getSingleInfo" resultMap="BaseResultMap" parameterType="com.brightsoft.entity.YcDeliveryOrder" > 
		select  <include refid="Base_Column_List" />  from yc_delivery_order where 1=1
		<if test="deliveryNo !=null">
			 and deliveryNo=#{deliveryNo} 
		</if>
		<if test="id !=null">
			 and id=#{id}
		</if>
		<if test="consigneePhone !=null"> 
			and consigneePhone=#{consigneePhone}
		</if>
		<if test="evaluateStatus !=null"> 
			and evaluateStatus=#{evaluateStatus}
		</if>
		LIMIT 1 OFFSET 0
	</select> 
	<select id="getYcDeliveryOrderAllList" resultMap="BaseResultMap" parameterType="com.brightsoft.entity.YcDeliveryOrder" > 
		select  <include refid="Base_Column_List" />  from yc_delivery_order where 1=1
		<if test="orderStatus !=null">
			and orderStatus = #{orderStatus}
		</if>
		<if test="branchNo !=null"> 
			and branchNo=#{branchNo}
		</if>
		<if test="deliveryNo !=null">
			or FIND_IN_SET(deliveryNo,#{deliveryNo})
		</if>
	</select> 
	<select id="getYcDeliveryOrderAllListByStatus" resultMap="BaseResultMap" parameterType="map" > 
		select  <include refid="Base_Column_List" />  from yc_delivery_order where 1=1
		<if test="orderStatus !=null">
			and FIND_IN_SET(orderStatus,#{orderStatus})
		</if>
		<if test="branchNo !=null"> 
			and branchNo=#{branchNo}
		</if>
	</select> 
	<select id="getYcDeliveryOrderByStowage" resultMap="BaseResultMap"  > 
		SELECT <include refid="Base_Column_List" /> FROM yc_delivery_order ydo WHERE  deliveryNo IN (SELECT deliverNo FROM yc_stowage_delivery sd WHERE stowageNo=#{param1})
	</select> 
	<select id="getSumCount" resultType="int" parameterType="com.brightsoft.entity.YcDeliveryOrder" > 
		select  count(1)  from yc_delivery_order where 1=1
		<if test="evaluateStatus!=null">
			and evaluateStatus = #{evaluateStatus} and  evaluateStatus != 2
		</if>
		<if test="orderStatus !=null">
			and orderStatus = #{orderStatus}
		</if>
		<if test="deliveryNo!=null">
			<bind name="bName" value="'%'+deliveryNo+'%'"/>
			and deliveryNo like #{bName}
		</if>
		<if test="dealerId!=null">
			and dealerId = #{dealerId}
		</if>
		<if test="branchNo !=null"> 
			and branchNo=#{branchNo}
		</if>
	</select> 
	<select id="selectOrderIsOver" resultType="int" parameterType="string" > 
		select  count(1)  from yc_delivery_order ydo where ydo.deliveryNo in (select ysd.deliverNo from yc_stowage_delivery ysd where ysd.stowageNo=#{param1}) and ydo.orderStatus!=5
	</select> 
	<select id="getListPagerInfo" resultMap="BaseResultMap" parameterType="map"> 
		select <include refid="Base_Column_List" /> from yc_delivery_order where 1=1
		<if test="evaluateStatus!=null">
			and evaluateStatus = #{evaluateStatus} and evaluateStatus != 2
		</if>
		<if test="deliveryNo!=null">
			<bind name="bName" value="'%'+deliveryNo+'%'"/>
			and deliveryNo like #{bName}
		</if>
		<if test="orderStatus!=null">
			and orderStatus = #{orderStatus}
		</if>
		<if test="dealerId!=null">
			and dealerId = #{dealerId}
		</if>
		<if test="createTime !=null"> 
			and createTime>#{createTime} and createTime &lt; #{createTime}
		</if>
		<if test="branchNo !=null"> 
			and branchNo=#{branchNo}
		</if>
		order by id desc limit #{limitMax} offset #{limitMin} 
	</select> 
	<delete id="delSingleInfo" parameterType="com.brightsoft.entity.YcDeliveryOrder"> 
		delete from yc_delivery_order where id=#{id} 
	</delete> 
	<insert id="addSingleInfo" parameterType="com.brightsoft.entity.YcDeliveryOrder" useGeneratedKeys="true" keyProperty="id"> 
		insert into yc_delivery_order  
		(branchNo,deliveryNo,subscribeTime,evaluateTime,dealerId,consigneeName,consigneePhone,consigneeAddr,consigneeTelephone,orderStatus,zoneCost,deliveryCost,installCost,otherCost,sumCost,payType,paidCost,agentPaidCost,satisfaction,evaluateStatus,customerSug,signer,signTime,createTime,createUser,updateTime,updateUser,remark) 
		values ( #{branchNo},#{deliveryNo},#{subscribeTime},#{evaluateTime},#{dealerId},#{consigneeName},#{consigneePhone},#{consigneeAddr},#{consigneeTelephone},#{orderStatus},#{zoneCost},#{deliveryCost},#{installCost},#{otherCost},#{sumCost},#{payType},#{paidCost},#{agentPaidCost},#{satisfaction},#{evaluateStatus},#{customerSug},#{signer},#{signTime},#{createTime},#{createUser},#{updateTime},#{updateUser},#{remark});
		
	</insert>
	<insert id="addCustomer" parameterType="com.brightsoft.entity.YcDeliveryOrder" useGeneratedKeys="true" keyProperty="id"> 
		call yc_pro_add_common_client(#{dealerId},0,#{consigneeName},#{consigneePhone},#{consigneeTelephone},#{consigneeAddr},#{createTime},#{createUser})
	</insert>
	<update id="modSingleInfo" parameterType="com.brightsoft.entity.YcDeliveryOrder">   
	update yc_delivery_order 
	<set> 
		<if test="branchNo !=null"> 
			branchNo=#{branchNo},
		</if>
		<if test="deliveryNo !=null"> 
			deliveryNo=#{deliveryNo},
		</if>
		<if test="subscribeTime !=null"> 
			subscribeTime=#{subscribeTime},
		</if>
		<if test="dealerId !=null"> 
			dealerId=#{dealerId},
		</if>
		<if test="consigneeName !=null"> 
			consigneeName=#{consigneeName},
		</if>
		<if test="consigneePhone !=null"> 
			consigneePhone=#{consigneePhone},
		</if>
		<if test="consigneeAddr !=null"> 
			consigneeAddr=#{consigneeAddr},
		</if>
		<if test="consigneeTelephone !=null"> 
			consigneeTelephone=#{consigneeTelephone},
		</if>
		<if test="orderStatus !=null"> 
			orderStatus=#{orderStatus},
		</if>
		<if test="zoneCost !=null"> 
			zoneCost=#{zoneCost},
		</if>
		<if test="deliveryCost !=null"> 
			deliveryCost=#{deliveryCost},
		</if>
		<if test="installCost !=null"> 
			installCost=#{installCost},
		</if>
		<if test="otherCost !=null"> 
			otherCost=#{otherCost},
		</if>
		<if test="sumCost !=null"> 
			sumCost=#{sumCost},
		</if>
		<if test="payType !=null"> 
			payType=#{payType},
		</if>
		<if test="paidCost !=null"> 
			paidCost=#{paidCost},
		</if>
		<if test="agentPaidCost !=null"> 
			agentPaidCost=#{agentPaidCost},
		</if>
		<if test="satisfaction !=null"> 
			satisfaction=#{satisfaction},
		</if>
		<if test="evaluateStatus !=null"> 
			evaluateStatus=#{evaluateStatus},
		</if>
		<if test="evaluateTime !=null"> 
			evaluateTime=#{evaluateTime},
		</if>
		<if test="customerSug !=null"> 
			customerSug=#{customerSug},
		</if>
		<if test="signer !=null"> 
			signer=#{signer},
		</if>
		<if test="signTime !=null"> 
			signTime=#{signTime},
		</if>
		<if test="createTime !=null"> 
			createTime=#{createTime},
		</if>
		<if test="createUser !=null"> 
			createUser=#{createUser},
		</if>
		<if test="updateTime !=null"> 
			updateTime=#{updateTime},
		</if>
		<if test="updateUser !=null"> 
			updateUser=#{updateUser},
		</if>
		<if test="remark !=null"> 
			remark=#{remark}
		</if>
	</set> 
	where   1=1
	<if test="deliveryNo !=null"> 
			and deliveryNo=#{deliveryNo}
	</if>
	<if test="id !=null"> 
			and id=#{id}
	</if>
	<if test="consigneePhone !=null"> 
		and consigneePhone=#{consigneePhone}
	</if>
	</update> 
	<update id="modEvaluateStatus" parameterType="com.brightsoft.entity.YcDeliveryOrder">
		update yc_delivery_order 
		<set> 
			evaluateStatus=2 
		</set>
		where id in (
			<foreach collection="list" item="item" separator=",">
				#{item}
			</foreach>
			)
	</update>
	<update id="modOrderByNo" parameterType="com.brightsoft.entity.YcDeliveryOrder">
		update yc_delivery_order 
		<set> 
			<if test="orderStatus !=null"> 
			orderStatus=#{orderStatus},
			</if>
			<if test="deliveryCost !=null"> 
				deliveryCost=#{deliveryCost}
			</if>
			
		</set>
		where deliveryNo=#{deliveryNo}
	</update>
	<update id="modOrderByStowageNo" parameterType="com.brightsoft.entity.YcDeliveryOrder">
		update yc_delivery_order ydo
		<set> 
			<if test="orderStatus !=null"> 
			orderStatus=#{orderStatus},
			</if>
			<if test="deliveryCost !=null"> 
				deliveryCost=#{deliveryCost}
			</if>
			
		</set>
		where ydo.deliveryNo in (select ysd.deliverNo from yc_stowage_delivery ysd where ysd.stowageNo=#{stowageNo})
	</update>
</mapper> 
