<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" > 
<mapper namespace="com.brightsoft.dao.yc.IYcStorageChargeDao"> 
	<resultMap id="BaseResultMap" type="com.brightsoft.entity.YcStorageCharge"></resultMap>   
	<sql id="Base_Column_List"> 
		id,branchNo,zoneNo,zoneArea,chargeNorm,createTime,createUser,updateTime,updateUser,remark
	</sql> 
	<select id="getSingleInfo" resultMap="BaseResultMap" parameterType="com.brightsoft.entity.YcStorageCharge" > 
		select  <include refid="Base_Column_List" />  from yc_storage_charge where id=#{id} 
	</select> 
	<select id="getSumCount" resultType="int" parameterType="com.brightsoft.entity.YcStorageCharge" > 
		select count(1) FROM yc_storage_charge a INNER JOIN yc_storage_branch b WHERE a.branchNo=b.branchNo
		<if test="branchName!=null">
			<bind name="bName" value="'%'+branchName+'%'"/>
			and b.branchName like #{bName}
		</if>
		<if test="zoneNo!=null">
			<bind name="zno" value="'%'+zoneNo+'%'"/>
			and a.zoneNo like #{zno}
		</if>
	</select> 
	<select id="getListPagerInfo" resultMap="BaseResultMap" parameterType="map"> 
		select b.branchName,a.id,a.branchNo,a.zoneNo,a.zoneArea,a.chargeNorm,a.createTime,a.remark FROM yc_storage_charge a INNER JOIN yc_storage_branch b WHERE a.branchNo=b.branchNo
		<if test="branchName!=null">
			<bind name="bName" value="'%'+branchName+'%'"/>
			and b.branchName like #{bName}
		</if>
		<if test="zoneNo!=null">
			<bind name="zno" value="'%'+zoneNo+'%'"/>
			and a.zoneNo like #{zno}
		</if>
		order by id desc limit #{limitMax} offset #{limitMin} 
	</select> 
	<delete id="delSingleInfo" parameterType="com.brightsoft.entity.YcStorageCharge"> 
		delete from yc_storage_charge where id=#{id} 
	</delete> 
	<delete id="delSelect" parameterType="com.brightsoft.entity.YcStorageBranch"> 
		delete from yc_storage_charge where id in 
		<foreach collection="list" item="item" open="(" separator="," close=")">
			#{item}
		</foreach>
	</delete> 
	<insert id="addSingleInfo" parameterType="com.brightsoft.entity.YcStorageCharge" useGeneratedKeys="true" keyProperty="id"> 
		INSERT INTO yc_storage_charge(branchNo,zoneNo,zoneArea,chargeNorm,createTime,createUser,updateTime,updateUser,remark) 
		VALUES ( #{branchNo},#{zoneNo},#{zoneArea},#{chargeNorm},#{createTime},#{createUser},#{updateTime},#{updateUser},#{remark} )
	</insert> 
	<update id="modSingleInfo" parameterType="com.brightsoft.entity.YcStorageCharge">   
	update yc_storage_charge 
	<set> 
		<if test="branchNo !=null"> 
			branchNo=#{branchNo},
		</if>
		<if test="zoneNo !=null"> 
			zoneNo=#{zoneNo},
		</if>
		<if test="zoneArea !=null"> 
			zoneArea=#{zoneArea},
		</if>
		<if test="chargeNorm !=null"> 
			chargeNorm=#{chargeNorm},
		</if>
		<if test="createTime !=null"> 
			createTime=#{createTime},
		</if>
		<if test="createUser !=null"> 
			createUser=#{createUser},
		</if>
		<if test="updateTime !=null"> 
			updateTime=#{updateTime},
		</if>
		<if test="updateUser !=null"> 
			updateUser=#{updateUser},
		</if>
		<if test="remark !=null"> 
			remark=#{remark}
		</if>
	</set> 
	where id=#{id} 
	</update> 
</mapper> 

