<?xml version="1.0" encoding="UTF-8"?>  
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">  
<configuration>  
	<settings>
		<setting name="defaultStatementTimeout" value="30"/> <!-- 设置sql执行超时时间，单位：秒  -->
		<setting name="logImpl" value="STDOUT_LOGGING"/> <!-- 开发配置：输出sql日志到控制台，正式上线需去除 -->
    </settings>   
</configuration>   